<p>
  <b>Nombre especialidad:</b>
  <%=h @reserva.nombre_especialidad %>
</p>

<p>
  <b>R nombre:</b>
  <%=h @reserva.r_nombre %>
</p>

<p>
  <b>R a paterno:</b>
  <%=h @reserva.r_a_paterno %>
</p>

<p>
  <b>R a materno:</b>
  <%=h @reserva.r_a_materno %>
</p>

<p>
  <b>R correo:</b>
  <%=h @reserva.r_correo %>
</p>

<p>
  <b>R dia:</b>
  <%=h @reserva.r_dia %>
</p>

<p>
  <b>R hora:</b>
  <%=h @reserva.r_hora %>
</p>

<%= link_to 'Atras', reservas_path %>