 <html >
<BODY >
<table >
  <tr>
    <td>
     <table width="740" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
        <table bgcolor=#e2e2e2 width="269" border="0" cellspacing="0" cellpadding="0">
          <tr>

            <td>
                <embed src="images/visor.swf" type="application/x-shockwave-flash" width="269" height="302"></embed>           
            </tr>
	
		  <tr>
            <td><form target="_blank" action="http://www.google.com/custom" method="get">
	              <table cellspacing=0 border=0>
                  <tr valign="top">
                      <td width="15">&nbsp;</td>
                      <td colspan="2"><img src="images/google_logo.gif"  width="125" height="45" border="0" /><br />
                      <input type=text name=size=35 maxlength=255 value="" />
                        <br />
                      <input type=submit name=boton value="Buscar" style="font-family: Trebuchet; font-size: 10pt; color: #535353; font-weight: bold; " />
                      <input type=hidden name=domains value="www.infocalcbba.edu.bo" /></td>
                  </tr>
                <tr>
                  <td height="5">&nbsp;</td>
                  <td width="20" >&nbsp;</td>
                  <td height="5"><font face="Tahoma"><font size="2" color="#535353">En:</font><font color="#535353"> 
                      <input type=radio name=sitesearch value="www.infocalcbba.edu.bo" checked>
                      </font><font size="2" color="#535353">Infocal </font>

                      <input type=radio name=sitesearch value="">
                      </font><font size="2" color="#535353">Internet</font></td></tr>
	</table><br />
		  <tr>
            <TD><table width="269" border="0" cellspacing="0" cellpadding="0">
                   </table>
</table>
        <td bgcolor=#ffffff width="471">
          <table width="471" border="0" cellspacing="0" cellpadding="0">
                <tr >
                     <td width="100" ><font text="trabuchet" size=4><%= link_to 'Reservar de Incripcion', {:controller=>"session" ,:action=>"new"} %></font></td>
                </tr>
                <tr>
                    <td width="100" ><%= link_to '<img src="images/caa.jpg"  width="127" height="132" border="0">', {:controller=>"automotrizs", :action=>"automotriz"}  %></td>
                    <td width="100" ><%= link_to '<img src="images/cacp.jpg"  width="127" height="132" border="0">', {:controller=>"capacitaciones", :action=>"capacitacione"}  %></td>
                    <td width="100" ><%= link_to '<img src="images/cae.jpg"  width="127" height="132" border="0">', {:controller=>"electrotecnias", :action=>"electrotecnia"}  %></td>
                       <td width="100" ><%= link_to '<img src="images/cai.jpg"  width="127" height="132" border="0">', {:controller=>"industriales", :action=>"industriale"}  %></td>
                   </tr>
                 
                <tr>
                        <td width="100" ><%= link_to '<img src="images/cag.jpg"  width="127" height="132" border="0">', {:controller=>"instalaciones", :action=>"instalacione"}  %></td>
                             <td width="100" ><%= link_to '<img src="images/cap.jpg"  width="127" height="132" border="0">', {:controller=>"parvularios", :action=>"parvulario"}  %></td>
                                  <td width="100" ><%= link_to '<img src="images/cat.jpg"  width="127" height="132" border="0">', {:controller=>"turismos", :action=>"turismo"}  %></td>
                                       <td width="100" ><%= link_to '<img src="images/cags.jpg"  width="127" height="132" border="0">', {:controller=>"gastronomias", :action=>"gastronomia"}  %></td>
                 </tr>
             
          </table>
     
</body>


